*{margin: 0;padding: 0;box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  display: flex;flex-direction: column;justify-content: center;align-items: center;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  @page {
    size: auto;   /* auto is the initial value */
    margin: 0;
    padding: 0;  /* this affects the margin in the printer settings */
  }
     @media print {
     
      body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
  
    }

    .Patientreportcount{display: none !important;}
    .a4Sizepaper{ border:none !important;}
     }

     

     ::-webkit-scrollbar {
        width: 0px;
        height: 5px;
       
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.993); 
        border-radius:20px;
      
      }
      


.Patientreportcount{height: 40px;width: 100%;  background-image: linear-gradient(to right, rgb(250, 93, 93) , rgb(243, 133, 133));margin-bottom: 15px;position: sticky;top: 0;box-shadow: 0px 5px #41404054;display: flex;align-items: center;z-index: 5;gap: 10px; overflow-x: auto;
    white-space: nowrap;}

    .printreport{cursor: pointer;}
    .printreport:active{transform: scale(0.9);}
   .Patientreportcount:first-child>div{margin-left: 10px;display: flex;gap: 10px;margin-right: 10px;}

.paper-container{width: 100%;}

   .a4Sizepaper{ height:29.7cm;width:21cm; margin-bottom: 15px;margin-left: auto;margin-right: auto;page-break-before: always;display: flex;flex-direction: column;justify-content: space-between;border: 1px solid #020101;}

   .header{height: 160px;width:100%;background-color: rgb(249, 200, 255);display: flex;flex-direction: column;align-items: center;gap: 5px;font-family: serif;}
.lab-name-slogan{display: flex;flex-direction: column;align-items: center;}
.lab-name-slogan p:first-child {font-size: 25px;margin-top: 10px;font-weight: 600;}
.lab-name-slogan p:last-child {font-size:15px;}

.lab-adress{font-size: 20px;}
.lab-phone-number{font-size: 20px;display: flex;justify-content: center;gap: 10px;}
.cash-memo{width: 100%;display: flex;justify-content: center; font-size: 25px;margin-top: 10px;font-weight: 550;font-family: serif;margin: 12px 0px 10px 0px;}
   .patient-table-container{width: 100%;height: 100%;display: flex;flex-direction: column;align-items: center;}
   /* .fotter{width: 100%;height:50px;background-color: rgb(160, 107, 38);position: relative;flex-shrink: 0;} */


#patient-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:21cm;
    transform: scale(0.85);
  }


  #patient-table td, #patient-table th {
    border: 1px solid #727171;
    padding: 6px;
    text-align: left;
  }
  
  #patient-table tr:nth-child(even){background-color: #f2f2f2;}
  #patient-table tr:nth-child(odd){background-color: #ffffff;}
  #patient-table tr:hover {background-color: #ddd;}
  
  #patient-table th {
 
    background-color: #263159;
    color: white;
    white-space: nowrap;
    font-weight: 500;
  }

#table-Sub-Total,#table-Discount,#table-Total{text-align: right !important;font-weight: 550 !important;background-color: rgb(255, 255, 255) !important; color: #020101 !important;border: none !important;}

#table-Total + td{font-weight: 550;}
#table-Discount + td{background-color: rgb(255, 255, 255) !important;font-weight: 550;}
#table-Sub-Total + td{font-weight: 550;}

  .whitesp{white-space: nowrap;}

