.form{padding: 10px;display: flex;flex-direction: column;align-items: center;display: none;background-color: #2C74B3;margin-top: 10px;border-radius: 4px;}
.input-label-container{display: flex; justify-content: center;}

.label-container{display: flex;flex-direction: column;justify-content: space-evenly;margin-right: 5px;gap: 4px;font-weight: 500;}
.input-container{display: flex;flex-direction: column;justify-content: space-evenly;margin-left: 5px;gap: 4px;}
.label{font-size: 17px;color: #ffffff;}
.forminput{padding: 2px;border-radius: 2px;border: 1px solid rgb(0, 0, 0);background-color: #fceaea;}

.add-patient-container{display: flex;gap: 10px;background-color:#4285F4;padding: 5px;border-radius: 20px;margin-top: 10px;font-weight: 400;cursor: pointer;color: #ffffff;}
.add-patient-container:active{transform: scale(0.97);}

