
.form{padding: 5px;display: flex;flex-direction: column;align-items: center;display: none;background-color: #2c74b381;margin-top: 10px;border-radius: 4px;width: 100%;}
.form > p:first-child{color: rgb(255, 255, 255);margin-bottom: 15px;font-size: 20px;font-weight: 600;border-bottom: 1px solid rgb(255, 255, 255);}
.input-label-container{display: flex; justify-content: center;justify-content: space-between;width: 100%;}

.label-container>div{display: flex;justify-content: center;align-items: center;}


.label-container{display: flex;flex-direction: column;justify-content: space-evenly;margin-right: 5px;gap: 4px;font-weight: 500;align-items: flex-start;}
.input-container{display: flex;flex-direction: column;justify-content: space-evenly;margin-left: 5px;gap: 4px;width: 60%;}

.age{width: 70px;}


.label{font-size: 17px;color: #ffffff;}
.forminput{padding: 2px;border-radius: 2px;border: 1px solid rgb(0, 0, 0);background-color: white;}


.action-buttons{display: flex;flex-wrap: wrap;justify-content: center;}

.add-patient-container,.add-Group-Tests{display: flex; gap: 10px;background-color:#4286f448;padding: 5px;border-radius: 20px;margin-top: 10px;font-weight: 400;cursor: pointer;color: #ffffff;transform: scale(0.9);}

.add-patient-container:active{transform: scale(0.8);}
.add-Group-Tests:active{transform: scale(0.8);}
.add-patient-container:hover{background-color:#4286f4dc;}
.add-Group-Tests:hover{background-color:#4286f4dc;}
.options-container{width: 100%;}

