*{margin: 0;padding: 0;box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  @page {
    size: auto;   /* auto is the initial value */
    margin: 0;
    padding: 0;  /* this affects the margin in the printer settings */
  }
     @media print {
     
      body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
  
    }
    .report{margin-top: 13px;box-shadow: 0px 0px #ffffff54 !important;}
    
    .Navbar-container,.sidebar,.sidebar2,.Patientreportcount{display: none !important;}

    .main{width: 100vw !important;visibility: hidden;overflow-y: visible !important;}
    .reporttemplate{visibility: visible;box-shadow:none !important;}
    .translatepoaitive{transform: translateY(20%) !important;}
     }

     

     ::-webkit-scrollbar {
        width: 0px;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgba(63, 63, 63, 0.623); 
        border-radius:20px;
      }
      
      
      
      .Navbar-container{height: 10vh;width: 100%;background-color: rgba(47, 84, 248, 0.979);position: sticky;top: 0; }
      
       .others-container{display: flex;justify-content: space-between;} 
      
      
      
       .main{height: 90vh;width: 80vw;background-image: url('./back.svg');background-repeat: no-repeat; background-size: cover;background-position: center; overflow-y: scroll;position: relative;box-sizing: border-box;}

       .reporttemplate{ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 3);}

       .sidebar{height: 90vh;width: 10vw;background-color: rgba(0, 0, 0, 0.979);position: fixed;z-index: 0;}
       .sidebar2{height: 90vh;width: 20vw;background-color: rgba(248, 47, 148, 0.979);}


       .Patientreportcount{height: 40px;width: 100%;  background-image: linear-gradient(to right, rgb(250, 93, 93) , rgb(243, 133, 133));margin-bottom: 15px;position: sticky;top: 0;box-shadow: 0px 5px #41404054;display: flex;align-items: center;z-index: 5;}


       .report{ height:29.7cm;width:21cm; margin-bottom: 15px;margin-left: auto;margin-right: auto;page-break-before: always;display: flex;flex-direction: column;justify-content: space-between; box-shadow: 5px 5px #41404054;}

  

       

       /*///////// header ///////////*/

       .Reportheader{height: 250px;width: 100%;}

.headerlogo-container{ height: 64%;width: 100%;}
.patient-details-container{ height: 36%;width: 100%;display: flex;justify-content: center;align-items: center;z-index: 100;}

.patient-details{height: 100% ;width: 100%;border-style: groove;box-sizing: border-box;border-top: 1px solid; display: flex;margin-left: 10px;margin-right: 10px;}

.patient-details1,.patient-details2{height: 100% ;width: 50%;}
.patient-details1,.patient-details2{display: flex;justify-content: space-evenly;}
.patient-details1-1{height: 100%;width: 40%;display: flex;flex-direction: column;}
.patient-details1-2{height: 100%;width: 70%;display: flex;flex-direction: column;}

.patient-details2-1{height: 100%;width: 40%;display: flex;flex-direction: column;}
.patient-details2-2{height: 100%;width: 60%;display: flex;flex-direction: column;}

.mp{margin-left: 5px;}

/* @media only screen and (max-width: 1052px) {
 .reporttemplate{transform: scale(0.5);transform: translateX(-50%);}

} */

  /*///////// header style  end ///////////*/ 



 /*///////// test style   ///////////*/ 


       .PatienttestPatienttestprovider{height: 100%;width: 100%;display: flex;flex-direction: column;gap: 10px;padding-left: 10px;padding-right: 10px;}

.all-test-container{height: 100%;width: 100%;display: flex;flex-direction: column;align-items: center;}
.Patienttest0{width: 100%;border: 1px solid;display: flex;justify-content: space-between; padding: 10px 20px 10px 20px;}
       .Patienttest{width: 100%;border: 1px solid;display: flex;justify-content: space-between; padding: 1px 20px 1px 20px;}
       .deparment{margin-top: 10px;margin-bottom: 10px;}
       .deparment > p{font-weight: 700;}
       .fw500{font-weight: 500;}
       h3{margin: 0;}


a{text-decoration: none;}
button{padding: 8px;padding-left: 10px;padding-right: 10px;}

.testname22{width: 100%;font-weight: 600;padding-left: 20px;margin-bottom: 10px;}

.textarea{height: 100%;width: 100%;}
.resultvalue{height: 100%;width: 80px;background-color: rgb(153, 78, 78);display: flex;justify-content: center;justify-content: flex-start;}
.hide{display: none;}
 /*///////// test style  end ///////////*/ 




/* //////////////fotter////////// */
.Reportfotter{height: 160px;width: 100%;display: flex;flex-direction: column;justify-content: space-between;border-top: 1px solid;}

.doctor-name-container{height: 190px;width: 100%;}

/* ////////////// fotter end////////// */



















































































































      
      