*{margin: 0;padding: 0;box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  display: flex;flex-direction: column;justify-content: center;align-items: center;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  @page {
    size: auto;   /* auto is the initial value */
    margin: 0;
    padding: 0;  /* this affects the margin in the printer settings */
  }
     @media print {
     
      body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
  
    }


    .report{margin-top: 13px;box-shadow: 0px 0px #ffffff54 !important;}
    
    .Navbar-container,.sidebar,.sidebar2,.Patientreportcount{display: none !important;}

    .main{width: 100vw !important;visibility: hidden;overflow-y: visible !important;}
    .reporttemplate{visibility: visible;box-shadow:none !important;}
    .translatepoaitive{transform: translateY(20%) !important;}
   
     }

     

     ::-webkit-scrollbar {
        width: 0px;
        height: 5px;
       
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.993); 
        border-radius:20px;
      
      }
      
      
      
      .Navbar-container{height: 10vh;width: 100%;background-color: #495579;position: sticky;top: 0;display: flex; align-items: center;justify-content: space-between; padding-left: 10px;}
      .brand-name{display: flex;}
      .brand-name>P{color: aliceblue;}
      .brand-name>img{margin-right: 5px;}
      .features-list{ height: 100%;width: 20vw; display: flex;justify-content: center;align-items: center;}
      .features-list>a{cursor: pointer;height: 100%;width: 100%;display: flex;justify-content: center;align-items: center;}

      .features-list>a:hover{background-color: blue;}
      .features-list>a:active{transform: scale(0.9);background-color: blue;}
       .others-container{display: flex;justify-content: space-between;} 
      
      
      
       .main{height: 90vh;width: 80vw;background-image: url('./svg images/back.svg');background-repeat: no-repeat; background-size: cover;background-position: center; overflow-y: scroll;position: relative;box-sizing: border-box;}

       .reporttemplate{ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 3);}

       .sidebar{height: 90vh;width: 10vw;background-color: rgba(0, 0, 0, 0.979);position: fixed;z-index: 0;}
       .sidebar2{height: 90vh;width: 20vw;background-color: #263159;display: flex;flex-direction: column; align-items: center;overflow-y: scroll;padding: 5px;}


       .Patientreportcount{height: 40px;width: 100%;  background-image: linear-gradient(to right, rgb(250, 93, 93) , rgb(243, 133, 133));margin-bottom: 15px;position: sticky;top: 0;box-shadow: 0px 5px #41404054;display: flex;align-items: center;z-index: 5;gap: 10px; overflow-x: auto;
        white-space: nowrap;}

       .Patientreportcount:first-child>div{margin-left: 10px;display: flex;gap: 10px;margin-right: 10px;}

       .report{ height:29.7cm;width:21cm; margin-bottom: 15px;margin-left: auto;margin-right: auto;page-break-before: always;display: flex;flex-direction: column;justify-content: space-between; box-shadow: 5px 5px #41404054;}

       


       /*///////// header ///////////*/

       .Reportheader{height: 250px;width: 100%;}


.headerlogo-container{ height: 160px;width: 100%;}
.patient-details-container{ height: 36%;width: 100%;display: flex;justify-content: center;align-items: center;z-index: 100;}

.patient-details{height: 100% ;width: 100%;box-sizing: border-box;border: 1px solid black; display: flex;margin-left: 10px;margin-right: 10px;}

.patient-details1,.patient-details2{height: 100% ;width: 50%;}
.patient-details1,.patient-details2{display: flex;justify-content: space-evenly;}
.patient-details1-1{height: 100%;width: 40%;display: flex;flex-direction: column;}
.patient-details1-2{height: 100%;width: 70%;display: flex;flex-direction: column;}

.patient-details2-1{height: 100%;width: 40%;display: flex;flex-direction: column;}
.patient-details2-2{height: 100%;width: 60%;display: flex;flex-direction: column;}

.mp{margin-left: 5px;}
.para{cursor: pointer;}
/* @media only screen and (max-width: 1052px) {
 .reporttemplate{transform: scale(0.5);transform: translateX(-50%);}

} */

  /*///////// header style  end ///////////*/ 

  
  
 /*///////// test style   ///////////*/ 


       .PatienttestPatienttestprovider{height: 100%;width: 100%;display: flex;flex-direction: column;gap: 10px;padding-left: 10px;padding-right: 10px;}

.all-test-container{height: 100%;width: 100%;display: flex;flex-direction: column;align-items: center;}
.Patienttest0{width: 100%;border: 1px solid;display: flex;justify-content: space-between; padding: 10px 20px 10px 20px;}
       .Patienttest{width: 100%;border: 1px solid;display: flex;justify-content: space-between; padding: 1px 20px 1px 20px;margin-bottom: 1px;}
       .deparment{margin-top: 10px;margin-bottom: 10px;}
       .deparment > p{font-weight: 700;}
       .fw500{font-weight: 500;}
       h3{margin: 0;}


a{text-decoration: none;}
.comment-for-test{padding: 20px;margin-top: 50px;}
.comment-for-test>p:first-child{font-weight: 600;margin-bottom: 5px;}
.avltest{display: flex;flex-wrap: wrap;justify-content: center;margin-top: 5px;display: none;}
.but,.makereport{padding: 8px;padding-left: 10px;padding-right: 10px;border-radius: 5px;border: none;margin: 2px;cursor: pointer;}

.but:active{transform: scale(0.97);}
.secleted{background-color: #4d4c4c !important;color: white;}
.makereport{width: 90%;background-color: green;color: white;font-size: 15px;border-radius: 10px;margin-top: 15px;display: none;}
.makereport:hover{background-color: lightgreen;color: black;}
.makereport:active{transform: scale(0.97);}
.testname22{width: 100%;font-weight: 600;padding-left: 20px;margin-bottom: 10px;}

.textarea{height: 21px;width: 100%;border: none;}
.resultvalue{height: 100%;width: 80px;display: flex;justify-content: center;justify-content: flex-start;white-space: nowrap;}
.hide{display: none;}
.printreport{cursor: pointer;}
.printreport:active{transform: scale(0.97);}
.testName{flex-grow: 0.3;}

.another-heading{width: 100%;padding: 1px 20px 1px 20px;font-weight: 550;}

 /*///////// test style  end ///////////*/ 
 



/* //////////////fotter////////// */
.Reportfotter{height: 190px;width: 100%;display: flex;flex-direction: column;justify-content: space-between;border-top: 1px solid;}

 .Reportfotter-last-child{height: 61.50px;} 
/* .Reportfotter-last-child>img{background-color: antiquewhite;} */
.doctor-name-container{height: 100px;width: 100%;}

/* ////////////// fotter end////////// */

.abnomalValue{color: red;font-weight: 900;}

.user-link{padding: 4px;background-color: rgb(22, 7, 122);border: none;border-radius: 2px;}






.patient-button-contenier{display: flex;gap: 10px;}
.patient-button{background-color: lightblue; display: flex;justify-content: center; gap: 4px;cursor: pointer;padding: 2px;border-radius: 1px;}
.user-link:active{transform: scale(0.9);}
.user-link>a{color: white;}
.deleteicon:active{transform: scale(0.9);}
.printicon:active{transform: scale(0.9);}


  
/* widal */


.widal{width:800px;display: flex;flex-direction: column;gap: 20px;border: none;}

.widal-test-container{display: flex;height: 150px;width: 450px;align-items: flex-end;justify-content: space-between;}

 table {
        border-collapse: collapse;
      }
     td {
        
        padding:5px;
        padding-left: 10px;
        text-align: left;
        text-align: center;
      }

      .td2{  padding-left: 20px;transform: translateX(150%);}


.widal-result-container{display: flex;gap: 10px;align-items: center;}
.widal-result-container>p:nth-child(1){font-weight: 600;}
.widal-result-container>p:nth-child(2){font-weight: 600;}


.widal-comment-container>p:nth-child(1){display: inline-block; margin-bottom: 10px;border-bottom: 1px solid black;}



.modalwindow-for-group-test{height: 450px;
  width: 350px;
  background-color: lightpink;position: fixed;z-index: 7;
  border: 1px solid;
transform: scale(0);
display: none;flex-direction: column; justify-content: space-between;
padding: 5px;
box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 37%);
}

.basic-test-editar{
  height: 110px;
  width: 110px;
  background-color: lightpink;position: fixed;z-index: 7;
  border: 1px solid;
  transform: scale(0);
display: none;flex-direction: column;

padding: 2px;
box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 37%);
}

.close-image-container{height: 25px;width: 100%;display: flex;align-items: center;justify-content: flex-end;}
.close-image-container>img{width: 25px;cursor: pointer;}
.colors{display: flex;gap: 2px;margin-top: 5px;}

.colors>div{width: 20px;height: 20px;cursor: pointer;}
div[bold="text"]{font-weight: 500;}
img[bold="900"]{cursor: pointer;}
img[bold="900"]:active{background-color: yellow;transform: scale(0.9);}
div[colorName="red"]{background-color: red;}
div[colorName="black"]{background-color: black;}
.addcolor:active{transform: scale(0.9);}
.modalwindow-for-group-test:first-child>div{margin-top: 15px;}
.modalwindow-for-group-test>div:nth-child(1)>div:nth-child(1){width: 60%;display: flex;flex-direction: column;gap: 10px;}
.modalwindow-for-group-test>div:nth-child(1)>div:nth-child(1)>p{color: rgb(0, 0, 0);font-weight: 600;}
.modalwindow-for-group-test>div:nth-child(1)>div:nth-child(1)>input{padding: 5px;border-radius: 50px;border: none;width: 100%;border: 1.5px rgb(0, 0, 0) solid;}

.modalwindow-for-group-test>div:nth-child(1)>div:nth-child(2){width: 60%;display: flex;justify-content: flex-end;margin-top: 10px;}
.modalwindow-for-group-test>div:nth-child(1)>div:nth-child(2)>button{background-color: green;color: white; padding: 10px;padding-left: 25px;padding-right: 25px;border: none;border-radius: 15px;cursor: pointer;letter-spacing: 2px;font-size: 15px;}
.modalwindow-for-group-test>div:nth-child(1)>div:nth-child(2)>button:active{transform: scale(0.9);}

.selected-test-container>div:nth-child(1){height: 40px;display: flex;justify-content: center;align-items: center;color: green;font-size: 10px;font-weight: 600;}

.selected-test-container>div:nth-child(1)>p{visibility: hidden;}


.selected-test-container>div:nth-child(2){background-color: #e2e2e2;border: 1px rgb(0, 0, 0) groove;background-color: #263159d5;color: white;display: flex;align-items: center;justify-content: space-between;}
.selected-test-container>div:nth-child(3){height: 200px;width: 100%;border: 1px rgb(0, 0, 0) groove;background-color: #495579ad;}

.img-cont{display: flex;align-items: center;margin-right: 10px;background-color: white;}
.img-cont:active{background-color: yellow;}
.img-cont>img:nth-child(1){cursor: pointer;}
.mark{cursor: pointer;transform: scale(1.7);display: none;}
.selected-test{overflow-y: scroll;padding: 2px;}

.fromgroupdatabase{display: flex;gap: 2px;align-items: center;}
.pointer{cursor: pointer;}
.hideheaderfooter{background-color: #263159;}


.group-test-different-color{background-color: #F7C4F5;}