.patient-database-container{height: 100%;width: 100%;background-color: white;overflow-y: auto;}

.patient-table-and-other-data{display: flex;flex-direction: column;align-items: center;}

.delete-patient-record{width: 28px;background-color: #ffffff;cursor: pointer;}
.delete-patient-record:active{transform: scale(0.9);}
#patient-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:21cm;

  }

  .data-referance{padding: 0px 30px 5px 30px;margin-bottom: 15px;border-bottom: 2px solid black;}
  .data-referance>p{color: #020101;font-weight: 600;font-size: 22px;}

  #patient-table td, #patient-table th {
    border: 1px solid #727171;
    padding: 6px;
    text-align: left;
  }
  
  #patient-table tr:nth-child(even){background-color: #f2f2f2;}
  #patient-table tr:nth-child(odd){background-color: #ffffff;}
  #patient-table tr:hover {background-color: #ddd;}
  
  #patient-table th {
 
    background-color: #263159;
    color: white;
    white-space: nowrap;
    font-weight: 500;
  }

  #total{text-align: right !important;font-weight: 550 !important;background-color: lightgray !important; color: #020101 !important;}
  #total + td{background-color: lightgray;font-weight: 550;}

  #other-calculations{display: flex;gap: 100px;margin-top: 15px;}
  #other-calculations>div{display: flex;flex-direction: column;align-items: center;color: #e0e0e0;padding: 20px 10px 20px 10px;border-radius: 10px;font-weight: 600;box-shadow: 0.5px 1px 4px 2px rgba(0, 0, 0, 0.479);font-size: 18px;}
  #other-calculations div:nth-child(1){background-color: green;}
  #other-calculations div:nth-child(2){background-color: red;}
  #other-calculations div:nth-child(1) p:nth-child(2){font-size: 20px;color: #ffffff;} 
  #other-calculations div:nth-child(2) p:nth-child(2){font-size: 20px;color: #ffffff;} 



  .whitesp{white-space: nowrap;}

.receipt-prefenance{cursor: pointer;}
.receipt-prefenance:active{transform: scale(0.9);}
/* //////////////////////////////////////// */

.select-recepit-preferances{height: 100%;width: 100%;display: flex;flex-direction: column;color: rgb(255, 255, 255);font-weight:500;font-size: 18px;letter-spacing: 1px;gap: 20px;padding: 5px;justify-content: center;font-family: cursive;}
.clientnameforrecipt{width: 100%;display: flex;justify-content: center;}
.discountbypersentage,.discountbyrupee{display: flex;align-items: center;gap: 10px;}
.select-recepit-preferances input[type="text"]{width: 30px;height: 20px;}
.generate-receipt{width: 100%;display: flex;justify-content: center;}
.generate-receipt>button{padding: 8px;background-color: rgb(0, 218, 0);border: none;border-radius: 10px;cursor: pointer;font-size: 17px;font-weight: 550; letter-spacing: 1px;font-family: cursive;}
.generate-receipt>button:active{transform: scale(0.9);}



/* /////////// reconfirm */

.reconfirm{height: 100%;width: 100%;display: flex;flex-direction: column;justify-content: center;gap: 20px;}
.reconfirm>div{display: flex;justify-content: center;gap: 30px;color: rgb(255, 255, 255);font-size: 18px;}
.reconfirm>div>button{padding: 3px 10px 3px 10px;cursor: pointer;border: none;border-radius: 2px;}
.reconfirm>div>button:hover{background-color: rgb(9, 199, 9);}

/* /////////// reconfirm end */