.add-test-form{width: 100%;height: 100%; padding: 10px; display: flex;flex-direction: column;gap: 20px;color: rgb(255, 255, 255);font-size: 17px;font-weight: 10;}
    

#select-Department{padding: 5px;}
.add-test-form div:nth-child(1) {display: flex; width: 100%;justify-content: center;color: aliceblue;}
.add-test-form div:nth-child(3) {display: flex; gap: 10px;}
.testdeatelparent{display: flex;gap: 10px;}
.testdeatelparent>div{display: flex;flex-direction: column;justify-content: flex-start;gap: 10px;}
.testdeatelparent>div>div{display: flex;flex-direction: column;justify-content: flex-start;}
.testdeatelparent>div>div>input{background: none;border: none;border-bottom: 2px solid rgb(255, 0, 0);outline: none;color: rgb(255, 217, 0);font-size: 17px;font-weight: 10;}
#test-Comment{width: 100%;margin-top: 2px;}
.client-submit-new-test{width: 100%;display: flex;justify-content: center;}
.new-test-unit{width: 100px;}

.client-submit-new-test>button{width: 100px;padding: 8px;border-radius: 20px;cursor: pointer;border: none;background-color: rgb(4, 110, 36);color: azure;letter-spacing: 2px;font-size: 15px;margin-top: 5px;}